@model IEnumerable<LicoreriaTom.Models.DetalleVenta>

@{
    ViewBag.Title = "Index";
}


<h4 class="text-center my-4">Detalles de Venta</h4>
<p>
    <a href="@Url.Action("Create")" class="btn btn-success">
        <i class="fa-solid fa-plus"></i> Nuevo Detalle de Venta
    </a>
</p>

<table class="table table-hover table-sm">

    <thead class="bg-opacity-25 bg-secondary">
        <tr>
            <th>Código</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Financiamiento</th>
            <th>Producto</th>
            <th>Código de Venta</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.Total)</td>
                <td>@Html.DisplayFor(modelItem => item.Financiamiento.TipoFinanciamiento)</td>
                <td>@Html.DisplayFor(modelItem => item.Producto.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Venta.Codigo)</td>

                <td class="d-flex justify-content-center">
                    <div class="btn-group" role="group">

                        <a href="@Url.Action("Delete", new { id = item.Id})" class="btn btn-outline-danger" title="Eliminar">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                        <a href="@Url.Action("Edit", new { id = item.Id})" class="btn btn-outline-primary" title="Editar">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a href="@Url.Action("Details", new { id = item.Id})" class="btn btn-outline-secondary" title="Detalles">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>

                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>